<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ParkingSpaceMapper">
    <select id="selectParkingSpaceById" resultType="com.bean.ParkingSpace">
        select * from parking_space where id = #{id}
    </select>
    <insert id="insertParkSpace" parameterType="com.bean.ParkingSpace">
        insert into parking_space values (#{id} ,#{residentialQuartersId},#{photo},#{address},#{price},#{preferentialMeasures},#{state},#{buyersId},#{views})
    </insert>
</mapper>
